Repository wiremock/wiremock, pull requests merged in 2023-05, with the labels that each got.

#2169 Use HTTPs Slack redirect link
  README.md
Labels: chore, needs-tom

#2168 Delete the issue template which is now a part of .github
  .github/ISSUE_TEMPLATE.md
Labels: chore, needs-tom

#2187 Update the WireMock Java contributor guide and README
  CONTRIBUTING.md
  README.md
Labels: documentation

#2121 Replace com.google.common.base.Function (partly)
  src/main/java/com/github/tomakehurst/wiremock/admin/AdminRoutes.java
  src/main/java/com/github/tomakehurst/wiremock/client/VerificationException.java
  src/main/java/com/github/tomakehurst/wiremock/common/AbstractFileSource.java
  src/main/java/com/github/tomakehurst/wiremock/common/ClasspathFileSource.java
  src/main/java/com/github/tomakehurst/wiremock/common/JsonException.java
  src/main/java/com/github/tomakehurst/wiremock/common/url/PathTemplate.java
  src/main/java/com/github/tomakehurst/wiremock/core/WireMockApp.java
  src/main/java/com/github/tomakehurst/wiremock/extension/requestfilter/RequestWrapper.java
  src/main/java/com/github/tomakehurst/wiremock/extension/responsetemplating/RequestLine.java
  src/main/java/com/github/tomakehurst/wiremock/extension/responsetemplating/RequestTemplateModel.java
  src/main/java/com/github/tomakehurst/wiremock/http/HttpHeaders.java
  src/main/java/com/github/tomakehurst/wiremock/http/HttpHeadersJsonDeserializer.java
  src/main/java/com/github/tomakehurst/wiremock/http/MultiValue.java
  src/main/java/com/github/tomakehurst/wiremock/http/multipart/FileItemPartAdapter.java
  src/main/java/com/github/tomakehurst/wiremock/http/multipart/PartParser.java
  src/main/java/com/github/tomakehurst/wiremock/matching/MatchResult.java
  src/main/java/com/github/tomakehurst/wiremock/matching/MultipartValuePattern.java
  src/main/java/com/github/tomakehurst/wiremock/matching/StringValuePattern.java
  src/main/java/com/github/tomakehurst/wiremock/recording/LoggedResponseDefinitionTransformer.java
  src/main/java/com/github/tomakehurst/wiremock/recording/Recorder.java
  src/main/java/com/github/tomakehurst/wiremock/recording/RequestPatternTransformer.java
  src/main/java/com/github/tomakehurst/wiremock/recording/SnapshotRecordResult.java
  src/main/java/com/github/tomakehurst/wiremock/recording/SnapshotStubMappingGenerator.java
  src/main/java/com/github/tomakehurst/wiremock/recording/SnapshotStubMappingPostProcessor.java
  src/main/java/com/github/tomakehurst/wiremock/recording/SnapshotStubMappingTransformerRunner.java
  src/main/java/com/github/tomakehurst/wiremock/security/BasicAuthenticator.java
  src/main/java/com/github/tomakehurst/wiremock/servlet/WireMockHttpServletMultipartAdapter.java
  src/main/java/com/github/tomakehurst/wiremock/standalone/JsonFileMappingsSource.java
  src/main/java/com/github/tomakehurst/wiremock/standalone/RemoteMappingsLoader.java
  src/main/java/com/github/tomakehurst/wiremock/stubbing/Scenario.java
  src/main/java/com/github/tomakehurst/wiremock/stubbing/ServeEvent.java
  src/main/java/com/github/tomakehurst/wiremock/stubbing/StubMappingJsonRecorder.java
  src/main/java/com/github/tomakehurst/wiremock/verification/NearMissCalculator.java
  src/main/java/com/github/tomakehurst/wiremock/verification/diff/JUnitStyleDiffRenderer.java
  src/test/java/com/github/tomakehurst/wiremock/AdminApiTest.java
  src/test/java/com/github/tomakehurst/wiremock/ScenarioAcceptanceTest.java
  src/test/java/com/github/tomakehurst/wiremock/jetty11/MultipartParser.java
  src/test/java/com/github/tomakehurst/wiremock/verification/NearMissCalculatorTest.java
Labels: chore, needs-tom

#2120 Replace com.google.common.base.Optional with Java 11 implementation
  src/main/java/com/github/tomakehurst/wiremock/admin/model/SingleServedStubResult.java
  src/main/java/com/github/tomakehurst/wiremock/common/JettySettings.java
  src/main/java/com/github/tomakehurst/wiremock/core/Options.java
  src/main/java/com/github/tomakehurst/wiremock/core/WireMockApp.java
  src/main/java/com/github/tomakehurst/wiremock/core/WireMockConfiguration.java
  src/main/java/com/github/tomakehurst/wiremock/extension/requestfilter/RequestWrapper.java
  src/main/java/com/github/tomakehurst/wiremock/http/ContentTypeHeader.java
  src/main/java/com/github/tomakehurst/wiremock/http/ProxyResponseRenderer.java
  src/main/java/com/github/tomakehurst/wiremock/http/Request.java
  src/main/java/com/github/tomakehurst/wiremock/http/Response.java
  src/main/java/com/github/tomakehurst/wiremock/jetty/JettyHttpServer.java
  src/main/java/com/github/tomakehurst/wiremock/jetty11/Jetty11HttpServer.java
  src/main/java/com/github/tomakehurst/wiremock/jetty11/Jetty11Utils.java
  src/main/java/com/github/tomakehurst/wiremock/matching/StringValuePatternJsonDeserializer.java
  src/main/java/com/github/tomakehurst/wiremock/servlet/WarConfiguration.java
  src/main/java/com/github/tomakehurst/wiremock/servlet/WireMockHttpServletRequestAdapter.java
  src/main/java/com/github/tomakehurst/wiremock/standalone/CommandLineOptions.java
  src/main/java/com/github/tomakehurst/wiremock/verification/AbstractRequestJournal.java
  src/main/java/com/github/tomakehurst/wiremock/verification/DisabledRequestJournal.java
  src/main/java/com/github/tomakehurst/wiremock/verification/InMemoryRequestJournal.java
  src/main/java/com/github/tomakehurst/wiremock/verification/LoggedRequest.java
  src/main/java/com/github/tomakehurst/wiremock/verification/RequestJournal.java
  src/main/java/com/github/tomakehurst/wiremock/verification/StoreBackedRequestJournal.java
  src/main/java/com/github/tomakehurst/wiremock/verification/diff/EmptyToStringRequestWrapper.java
  src/main/java/com/github/tomakehurst/wiremock/verification/notmatched/PlainTextStubNotMatchedRenderer.java
  src/test/java/com/github/tomakehurst/wiremock/common/JettySettingsTest.java
  src/test/java/com/github/tomakehurst/wiremock/core/WireMockConfigurationTest.java
  src/test/java/com/github/tomakehurst/wiremock/direct/DirectCallHttpServerTest.java
  src/test/java/com/github/tomakehurst/wiremock/http/ContentTypeHeaderTest.java
  src/test/java/com/github/tomakehurst/wiremock/matching/MockRequest.java
  src/test/java/com/github/tomakehurst/wiremock/standalone/CommandLineOptionsTest.java
  src/test/java/com/github/tomakehurst/wiremock/verification/InMemoryRequestJournalTest.java
Labels: chore, breaking, needs-tom

#2130 Configure default ObjectMapper with JavaTimeModule
  build.gradle
  src/main/java/com/github/tomakehurst/wiremock/common/Json.java
  src/test/java/com/github/tomakehurst/wiremock/extension/ParametersTest.java
Labels: enhancement, needs-tom

#2123 Fix JUnit5 extension bug when using both declarative + programmatic simultaneously
  src/main/java/com/github/tomakehurst/wiremock/junit5/WireMockExtension.java
  src/test/java/com/github/tomakehurst/wiremock/junit5/JUnitJupiterExtensionDeclarativeProgrammaticMixTest.java
Labels: bug, needs-tom
